<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Champion Page</title>
</head>
<body>

  <h1>{{forTemplate.CHAMP_NAME}} Data</h1>
  <h1>{{forTemplate.winPercentageBefore}} Data</h1>
  <h1>{{forTemplate.winPercentageAfter}} Data</h1>
  <h1>{{forTemplate.winPercentageChange}} Data</h1>
  <h1>{{forTemplate.itemPercentageChange}} Data</h1>

</body>
</html>