<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Champion Page</title>
</head>
<body>
  
  <div style="margin-top:50px;margin-bottom:50px">
    <h1 style="text-align:center">{{forTemplate.CHAMP_NAME}}</h1>
    <h3 style="text-align:center">{{forTemplate.before.TITLE}}</h3>
  </div>

  <div class="row">
    
    <div class="col-md-1"></div>

    <div class="col-md-5">
      <h3 style="text-align:center">Win Percentage Before Patch: {{forTemplate.winPercentageBefore}}</h3>
      <h3 style="text-align:center">Win Percentage After Patch: {{forTemplate.winPercentageAfter}}</h3>
      <h3 style="text-align:center">Win Percentage Change: {{forTemplate.winPercentageChange}}</h3>
      
      <img width="100%" style="padding:20px" class="champPic" src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{forTemplate.imgURL}}_0.jpg" alt="Image not found" onError="this.onerror=null;this.src='https://na.merch.riotgames.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/p/l/plush_poro_1.png';">
    </div>
    
    <div class="col-md-1 test"></div>

    <div class="col-md-4">
      <table>
        <tr>
          <th>     </th>
          <th>Item</th>
          <th>Usage Before Patch</th>
          <th>Usage After Patch</th>
        </tr>
    {{#each forTemplate.itemPercentageChange as |item|}}
        <tr>
          <td><img style="padding:10px" src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/{{item.itemCode}}.png" alt="Image not found" onError="this.onerror=null;this.src='http://pm1.narvii.com/5815/73e78d695725e8344a38c523c885fa6aca2c737b_hq.jpg';"></td>
          <td>{{item.itemName}}</td>
          <td>{{item.itemPerBefore}}%</td>
          <td>{{item.itemPerAfter}}%</td>
        </tr>
      {{/each}}
      </table>
    </div>
    
  </div>

</body>
</html>
